@import "tailwindcss";

:root {
  --color-green-4: #29ab87;
  --color-green-3: #008000;
  --color-yellow-2: #ffff00;
  --color-red-2: #ff253a;
  --color-grayscale-15: rgb(0, 0, 0);
  --color-grayscale-6: #e6e6e6;
  --color-grayscale-13: rgb(15, 15, 15);
}

body {
  overflow-x: hidden;
  background: var(--color-grayscale-13);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-layout {
  width: 100%;
  max-width: 96%;
  margin: 0 auto;
  padding: 0.8rem;
}
.backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@theme inline {
  --font-primary: var(--font-bebas);
  --font-secondary: var(--font-mono);
  --font-error: var(--font-nosifer);
  --color-primary: var(--color-grayscale-6);
  --color-secondary: var(--color-green-4);
  --color-rating-1: var(--color-green-3);
  --color-rating-2: var(--color-yellow-2);
  --color-rating-3: var(--color-red-2);
  --color-header: var(--color-grayscale-15);
  --color-main: var(--color-grayscale-15);
  --color-error: var(--color-grayscale-13);
  --height-main: 100dvh;
}
